.App {
  display: flex;
  flex-direction:column;
  justify-content: center;
  text-align: center;
}

.userinputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  height: 50vh;
  width:40vw;
}

.displaydata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: scroll;
  border: 1px solid black;
  height: 50vh;
  width: 70vw;
}

.maincontainer {
  display:flex;
  flex-direction: row;
}